* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.header .header__container {
  width: 100%;
  max-width: 1300px;
  padding: 10px 50px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.nav .nav__menu .nav-item .nav-link {
  position: relative;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: normal;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
.nav .nav__menu .nav-item .nav-link:hover {
  color: #00acdc;
}
.nav .nav__menu .nav-item .is-active {
  color: #00acdc;
}
.nav .nav__menu .nav-item .is-first::after {
  content: "";
  display: block;
  position: absolute;
  top: 33px;
  width: 37px;
  height: 4px;
  background: #00acdc;
  border-radius: 8px;
}

@media screen and (max-width: 850px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px;
  }
  .header .header__container {
    padding: 20px 50px;
  }
  .nav > .nav__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav__menu .nav-item .is-first::after {
    top: 25px;
  }
}